{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}

    <h1 class="p-3 text-center">
        <b>
            <span class="bg-light p-1" style="color: darkcyan">Change password</span>
        </b>
    </h1>

    <p class="text-center"><span class="bg-light p-1" style="color: darkcyan">User: <b>{{ app.user.firstName }} {{ app.user.lastName }}</b></span></p>

    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.current_password) }}
    {{ form_row(changePasswordForm.password.first) }}
    {{ form_row(changePasswordForm.password.second) }}

    {{ form_end(changePasswordForm) }}

{% endblock %}
