{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <h1 class="text-center p-3">User <b><span style="color: #B0413E">{{ app.user.firstName }} {{ app.user.lastName }}</span></b></h1>

    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.current_password) }}
    {{ form_row(changePasswordForm.password.first) }}
    {{ form_row(changePasswordForm.password.second) }}

    {{ form_end(changePasswordForm) }}

{% endblock %}
