{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}

    <h1 class="p-3 text-center">
        <b>
            <span class="bg-light p-1" style="color: darkcyan">Hey {{ app.user.firstName }}</span>

        </b>
    </h1>

    <p class="p-2 text-center"><span class="bg-light p-1" style="color: darkcyan">Here you can see informations about your profile and also change your password if needed.</span></p>

    <table class="table mt-3">
        <tbody>
        <tr>
            <th>First_name</th>
            <td>{{ app.user.firstName }}</td>
        </tr>
        <tr>
            <th>Last_name</th>
            <td>{{ app.user.lastName }}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{ app.user.email }}</td>
        </tr>

        </tbody>
    </table>

    <div class="text-center">
        <a class="btn btn-success mb-2" href="{{ path('password_change') }}">Change password</a>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#profile").addClass('active');
        })
    </script>
{% endblock %}
