{% extends 'base.html.twig' %}

{% block title %}{{ vehicle.mark }} {{ vehicle.model }}{% endblock %}

{% block body %}
    <h1 class="text-center p-3"><b>
            <span class="bg-light p-1" style="color: darkcyan">
                {{ vehicle.mark }} {{ vehicle.model }}</span>
        </b>
    </h1>
    {% if app.user %}
        <div class="text-center">
            <p><span id="fav_veh_text" class="bg-light p-1">
                    {% if favoriteVehicle %}Unmark from favorites{% else %}Mark as favorite{% endif %}
                </span>
                <a href="#" class="bg-light p-1" id="favorite_vehicle">
                    <i class="fa{% if favoriteVehicle %}s{% else %}r{% endif %} fa-heart" id="icon"></i></a>
            </p>

        </div>
    {% endif %}
    <div class="row mt-4">
        <div class="col-sm-8">
            <h3 class="text-center mt-2 mb-3"><span class="bg-light p-1" style="color:darkcyan;"><i>Images</i></span></h3>
            <div class="row mt-3">
                {% for image in vehicle.images %}
                    <div class="col-sm-6">
                    <div class="image-wrapper">
                        <a target="_blank" href="{{asset("uploads/")~image.imagePath}}"><img src="{{asset("uploads/")~image.imagePath}}" alt=""/></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center mt-2 mb-3"><span class="bg-light p-1" style="color:darkcyan;"><i>Details</i></span></h3>
            <p class="bg-light p-3">Status:
                {% if vehicle.status == "In stock" %}
                    <span style="color: darkgreen"><strong>{{ vehicle.status }}</strong> <i class="fas fa-check"></i></span>
                {% else %}
                    <span style="color: dodgerblue"><strong>{{ vehicle.status }}</strong> <i class="fas fa-route"></i></span>
                {% endif %}
            </p>
            <p class="bg-light p-3">Type: <strong>{{ vehicle.type }}</strong>
            <p class="bg-light p-3">Mark: <strong>{{ vehicle.mark }}</strong></p>
            <p class="bg-light p-3">Model: <strong>{{ vehicle.model }}</strong></p>
            <p class="bg-light p-3">Manufacture year: <strong>{{ vehicle.manufactureYear }}.</strong></p>
            <p class="bg-light p-3">Model year: <strong>{{ vehicle.modelYear }}.</strong></p>
            <p class="bg-light p-3">Kilometers: <strong>{{ vehicle.kilometers|number_format('0', '.', '.')}}</strong></p>
            <p class="bg-light p-3">Power: <strong>{{ vehicle.power }} kW</strong></p>
            <p class="bg-light p-3">Gearbox: <strong>{{ vehicle.gearbox }}</strong></p>
            <p class="bg-light p-3">Gears: <strong>{{ vehicle.gears }}</strong></p>
            <p class="bg-light p-3">Consumption: <strong>{{ vehicle.consumption }} L/100km</strong></p>
            <p class="bg-primary p-3 text-white">Price:
                <strong>{{ vehicle.price|number_format('0', '.', '.') }} € ~
                    {{ priceKn|number_format('0', '.', '.') }} kn
                </strong>
            </p>
        </div>
    </div>

    <h2 class="text-center mt-3 mb-4"><span class="bg-light p-1" style="color: darkcyan"><i>Additional equipment</i></span></h2>
    {% if additionalEquipment %}
    <div class="row">
        <div class="col-sm-3 text-center mb-1">
            ABS
            {% if(additionalEquipment.abs) %}
                 <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
                {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            ESP
            {% if(additionalEquipment.esp) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Remote locking
            {% if(additionalEquipment.remoteLocking) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Isofix
            {% if(additionalEquipment.isofix) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Engine immobilizer
            {% if(additionalEquipment.engineImmobilizer) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Start stop
            {% if(additionalEquipment.startStop) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            HAC
            {% if(additionalEquipment.hac) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Rain sensors
            {% if(additionalEquipment.rainSensors) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Light sensors
            {% if(additionalEquipment.lightSensors) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Alarm
            {% if(additionalEquipment.alarm) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Multifunctional steering wheel
            {% if(additionalEquipment.multifunctionalSteeringWheel) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Park sensors
            {% if(additionalEquipment.parkSensors) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Alloy wheels
            {% if(additionalEquipment.alloyWheels) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Clima
            {% if(additionalEquipment.clima) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Third stop light
            {% if(additionalEquipment.thirdStopLight) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Cruise control
            {% if(additionalEquipment.cruiseControl) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Front electric window lifters
            {% if(additionalEquipment.electricWindowLiftersFront) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Rear electric window lifters
            {% if(additionalEquipment.electricWindowLiftersRear) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Electric folding mirrors
            {% if(additionalEquipment.electricFoldingMirrors) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Tinted glass
            {% if(additionalEquipment.tintedGlass) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Fog lights
            {% if(additionalEquipment.fogLights) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Roof window
            {% if(additionalEquipment.roofWindow) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Touch radio
            {% if(additionalEquipment.touchRadio) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Metallic color
            {% if(additionalEquipment.metallicColor) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Child lock
            {% if(additionalEquipment.childLock) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Front LED lights
            {% if(additionalEquipment.LEDLightsFront) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Rear LED lights
            {% if(additionalEquipment.LEDLightsRear) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            LED interior
            {% if(additionalEquipment.LEDInterrior) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Leather seats
            {% if(additionalEquipment.leatherSeats) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Sport seats
            {% if(additionalEquipment.sportSeats) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Rear parking camera
            {% if(additionalEquipment.rearParkingCamera) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-1">
            Seat heating
            {% if(additionalEquipment.seatHeating) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center mb-4">
            Handsfree
            {% if(additionalEquipment.handsfree) %}
                <i style="color: green" class="fas fa-check-circle"></i>
            {% else %}
                <i style="color: red" class="far fa-times-circle"></i>
            {% endif %}
        </div>

    </div>

    {% else %}
        <p class="bg-light p-3 text-center mt-3">Additional equipment is not added for this vehicle. Check back soon.</p>
    {% endif %}

    {% if app.user %}
        <p class="text-center mb-3"><span class="bg-light p-2"><b>You're interested for this vehicle?</b>
        <p class="text-center mb-5">
            <span class="bg-light p-2">
                <b>Send us <a title="Click for creating a new inquire for this vehicle" href="{{ path('inquirie_create', {id: vehicle.id}) }}">inquirie</a>.</b>
            </span>
        </p>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if app.user %}
        <script>
            $(document).ready(function () {
                $('#favorite_vehicle').click(function () {
                    $.ajax({
                        url: '{{ url('favorite_vehicle_new') }}',
                        type: 'POST',
                        data: {
                            vehicle: {{ vehicle.id }}
                        },
                        success: function () {
                            if($('#icon').hasClass('far')) {
                                $('#icon').removeClass('far').addClass('fas')
                                $('#fav_veh_text').text("Unmark from favorites")
                            } else {
                                $('#icon').removeClass('fas').addClass('far')
                                $('#fav_veh_text').text("Mark as favorite")
                            }
                        }
                    })
                })
            })
            document.addEventListener('DOMContentLoaded', function(){
                Code.photoSwipe('a', '#Gallery', { captionAndToolbarHideOnSwipe: false } );
            }, false);

        </script>
    {% endif %}
{% endblock %}