{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1 class="text-center p-3 bg-light"><b><span style="color: #B0413E"> {{ vehicle.mark }} {{ vehicle.model }}</span></b></h1>

    <div class="row mt-4">
        <div class="col-sm-6">
            <h3 class="text-center">Vehicle images</h3>
            <div class="row mt-3">
            {% for image in vehicle.images %}
                <div class="col-6">
                <div class="image-wrapper">
                    <a target="_blank" href="{{asset("uploads/")~image.imagePath}}"><img src="{{asset("uploads/")~image.imagePath}}" alt=""/></a>
                </div>
            </div>

            {% endfor %}
            </div>


        </div>
        <div class="col-sm-6">
            <h3>Vehicle details</h3>
            <p class="bg-light p-3">Status: <span style="color: limegreen">{{ vehicle.status }}</span></p>
            <p class="bg-light p-3">Type: {{ vehicle.type }}</p>
            <p class="bg-light p-3">Mark: {{ vehicle.mark }}</p>
            <p class="bg-light p-3">Model: {{ vehicle.model }}</p>
            <p class="bg-light p-3">Manufacture year: {{ vehicle.manufactureYear }}</p>
            <p class="bg-light p-3">Model year: {{ vehicle.modelYear }}</p>
            <p class="bg-light p-3">Kilometers: {{ vehicle.kilometers }}</p>
            <p class="bg-light p-3">Power: {{ vehicle.power }}</p>
            <p class="bg-light p-3">Gearbox: {{ vehicle.gearbox }}</p>
            <p class="bg-light p-3">Gears: {{ vehicle.gears }}</p>
            <p class="bg-light p-3">Consumption: {{ vehicle.consumption }}</p>
            <p class="bg-light p-3">Price: {{ vehicle.price }}</p>
        </div>
    </div>

    <h2 class="text-center">Additional equipment</h2>
    <div class="row">
        {% for item in additionalEquipment %}
            <div class="col-3">
                <p>{{ item.isofix }}</p>
            </div>
        {% endfor %}
    </div>

    {%
        if app.user
    %}<a style="float: right" href="#" id="favorite_vehicle">Favorite or not
        <i class="fa{% if favoriteVehicle %}s{% else %}r{% endif %} fa-heart" id="icon"></i></a>
    {% endif %}


    {% if app.user %}
        <p>You're interested for this vehicle? Send us contact <a href="{{ path('inquirie_create', {id: vehicle.id}) }}">form</a>.</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if app.user %}
        <script>
            $(document).ready(function () {
                $('#favorite_vehicle').click(function () {
                    $.ajax({
                        url: '{{ url('favorite_vehicle_new') }}',
                        type: 'POST',
                        data: {
                            vehicle: {{ vehicle.id }}
                        },
                        success: function () {
                            if($('#icon').hasClass('far')) {
                                $('#icon').removeClass('far').addClass('fas')
                            } else {
                                $('#icon').removeClass('fas').addClass('far')
                            }
                        }
                    })
                })
            })


            document.addEventListener('DOMContentLoaded', function(){
                Code.photoSwipe('a', '#Gallery', { captionAndToolbarHideOnSwipe: false } );
            }, false);

        </script>
    {% endif %}
{% endblock %}