{% extends 'base.html.twig' %}

{% block title %}{{ vehicle.mark }} {{ vehicle.model }}{% endblock %}

{% block body %}
    <h1 class="text-center p-3"><b>
            <span class="bg-light p-1" style="color: darkcyan">
                {{ vehicle.mark }} {{ vehicle.model }}</span>
        </b>
    </h1>
    {% if app.user %}
        <div class="text-center">
            <a href="#" class="bg-light p-1" id="favorite_vehicle"><span id="fav_veh_text">
                    {% if favoriteVehicle %}Marked as favorite{% else %}Set as favorite{% endif %}
                </span>
            <i class="fa{% if favoriteVehicle %}s{% else %}r{% endif %} fa-heart" id="icon"></i></a>
        </div>
    {% endif %}
    <div class="row mt-4">
        <div class="col-sm-8">
            <h3 class="text-center"><i>Photos</i></h3>
            <div class="row mt-3">
                {% for image in vehicle.images %}
                    <div class="col-sm-6">
                    <div class="image-wrapper">
                        <a target="_blank" href="{{asset("uploads/")~image.imagePath}}"><img src="{{asset("uploads/")~image.imagePath}}" alt=""/></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center mt-2"><i>Details</i></h3>
            <p class="bg-light p-3">Status:
                {% if vehicle.status == "In stock" %}
                    <span style="color: darkgreen"><strong>{{ vehicle.status }}</strong> <i class="fas fa-check"></i></span>
                {% else %}
                    <span style="color: dodgerblue"><strong>{{ vehicle.status }}</strong> <i class="fas fa-route"></i></span>
                {% endif %}
            </p>
            <p class="bg-light p-3">Type: <strong>{{ vehicle.type }}</strong>
            <p class="bg-light p-3">Mark: <strong>{{ vehicle.mark }}</strong></p>
            <p class="bg-light p-3">Model: <strong>{{ vehicle.model }}</strong></p>
            <p class="bg-light p-3">Manufacture year: <strong>{{ vehicle.manufactureYear }}.</strong></p>
            <p class="bg-light p-3">Model year: <strong>{{ vehicle.modelYear }}.</strong></p>
            <p class="bg-light p-3">Kilometers: <strong>{{ vehicle.kilometers|number_format('0', '.', '.')}}</strong></p>
            <p class="bg-light p-3">Power: <strong>{{ vehicle.power }} kW</strong></p>
            <p class="bg-light p-3">Gearbox: <strong>{{ vehicle.gearbox }}</strong></p>
            <p class="bg-light p-3">Gears: <strong>{{ vehicle.gears }}</strong></p>
            <p class="bg-light p-3">Consumption: <strong>{{ vehicle.consumption }} L/100km</strong></p>
            <p class="bg-primary p-3 text-white">Price:
                <strong>{{ vehicle.price|number_format('0', '.', '.') }} € ~
                    {{ priceKn|number_format('0', '.', '.') }} kn
                </strong>
            </p>
        </div>
    </div>

    <h2 class="text-center mt-3"><i>Additional equipment</i></h2>

    {% if additionalEquipment %}
        {% for fieldName in fieldNames %}

        <p>{{ fieldName }}</p>
        {% endfor %}
    {% else %}
        <p class="bg-light p-3 text-center mt-3">Additional equipment is not added for this vehicle. Check back soon.</p>
    {% endif %}

    {% if app.user %}
        <p class="text-center"><span class="bg-light p-2">You're interested for this vehicle? Send us <a href="{{ path('inquirie_create', {id: vehicle.id}) }}">inquirie</a>.</span></p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if app.user %}
        <script>
            $(document).ready(function () {
                $('#favorite_vehicle').click(function () {
                    $.ajax({
                        url: '{{ url('favorite_vehicle_new') }}',
                        type: 'POST',
                        data: {
                            vehicle: {{ vehicle.id }}
                        },
                        success: function () {
                            if($('#icon').hasClass('far')) {
                                $('#icon').removeClass('far').addClass('fas')
                                $('#fav_veh_text').text("Marked as favorite")
                            } else {
                                $('#icon').removeClass('fas').addClass('far')
                                $('#fav_veh_text').text("Set as favorite")
                            }
                        }
                    })
                })
            })
            document.addEventListener('DOMContentLoaded', function(){
                Code.photoSwipe('a', '#Gallery', { captionAndToolbarHideOnSwipe: false } );
            }, false);

        </script>
    {% endif %}
{% endblock %}