{% extends 'base.html.twig' %}

{% block title %}{{ vehicle.mark }} {{ vehicle.model }}{% endblock %}

{% block body %}
    <h1 class="text-center p-3 "><b>
            <span style="color: #B0413E; text-decoration: underline">
                {{ vehicle.mark }} {{ vehicle.model }}</span>
        </b>
    </h1>
    <div class="row mt-4">
        <div class="col-sm-8">
            <h3 class="text-center"><i>Photos</i></h3>
            <div class="row mt-3">
                {% for image in vehicle.images %}
                    <div class="col-sm-6">
                    <div class="image-wrapper">
                        <a target="_blank" href="{{asset("uploads/")~image.imagePath}}"><img src="{{asset("uploads/")~image.imagePath}}" alt=""/></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center"><i>Details</i></h3>
            <p class="bg-light p-3">Status:
                {% if vehicle.status == "In stock" %}
                    <span style="color: darkgreen">{{ vehicle.status }} <i class="fas fa-check"></i></span>
                {% else %}
                    <span style="color: dodgerblue">{{ vehicle.status }} <i class="fas fa-route"></i></span>
                {% endif %}
            </p>
            <p class="bg-light p-3">Type: <strong>{{ vehicle.type }}</strong>
            <p class="bg-light p-3">Mark: {{ vehicle.mark }}</p>
            <p class="bg-light p-3">Model: {{ vehicle.model }}</p>
            <p class="bg-light p-3">Manufacture year: {{ vehicle.manufactureYear }}.</p>
            <p class="bg-light p-3">Model year: {{ vehicle.modelYear }}.</p>
            <p class="bg-light p-3">Kilometers: {{ vehicle.kilometers|number_format('0', '.', '.')}}</p>
            <p class="bg-light p-3">Power: {{ vehicle.power }} kW</p>
            <p class="bg-light p-3">Gearbox: {{ vehicle.gearbox }}</p>
            <p class="bg-light p-3">Gears: {{ vehicle.gears }}</p>
            <p class="bg-light p-3">Consumption: {{ vehicle.consumption }} L/100km</p>
            <p class="bg-light p-3">Price: {{ vehicle.price|number_format('0', '.', '.') }} kn</p>
        </div>
    </div>

    <h2 class="text-center mt-3">Additional equipment</h2>

    {% if additionalEquipment %}
        {% for fieldName in fieldNames %}

        <p>{{ fieldName }}</p>
        {% endfor %}
    {% else %}
        <p class="bg-light p-3 text-center mt-3">Additional equipment is not added for this vehicle. Check back soon.</p>
    {% endif %}

    {% if app.user %}
        <a style="float: right" href="#" id="favorite_vehicle">Favorite or not
        <i class="fa{% if favoriteVehicle %}s{% else %}r{% endif %} fa-heart" id="icon"></i></a>
    {% endif %}


    {% if app.user %}
        <p>You're interested for this vehicle? Send us contact <a href="{{ path('inquirie_create', {id: vehicle.id}) }}">form</a>.</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if app.user %}
        <script>
            $(document).ready(function () {
                $('#favorite_vehicle').click(function () {
                    $.ajax({
                        url: '{{ url('favorite_vehicle_new') }}',
                        type: 'POST',
                        data: {
                            vehicle: {{ vehicle.id }}
                        },
                        success: function () {
                            if($('#icon').hasClass('far')) {
                                $('#icon').removeClass('far').addClass('fas')
                            } else {
                                $('#icon').removeClass('fas').addClass('far')
                            }
                        }
                    })
                })
            })
            document.addEventListener('DOMContentLoaded', function(){
                Code.photoSwipe('a', '#Gallery', { captionAndToolbarHideOnSwipe: false } );
            }, false);

        </script>
    {% endif %}
{% endblock %}