{% extends 'base.html.twig' %}

{% block title %}Inquirie index{% endblock %}

{% block body %}

    <h1 class="text-center p-3">Create inquirie for vehicle {{ vehicle_title }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.vehicle, {'value':vehicle_title}) }}
    {{ form_row(form.content) }}
    {{ form_end(form) }}

{% endblock %}
