{% extends 'base.html.twig' %}

{% block title %}Inquirie list{% endblock %}

{% block body %}
    <h1 class="text-center p-3">Active inquiries</h1>

    {% if not inquiries %}
        <p class="p-3 text-center bg-light">No inquiries at the moment.</p>
    {% endif %}
    {% for inquirie in inquiries %}
        <div class="one_inquirie text-center" style="background-color: lightyellow">
            <p class="p-3">Vehicle:<br><i>{{ inquirie.vehicle.mark }} {{ inquirie.vehicle.model }}</i></p>
            <p>Content:<br><i>{{ inquirie.content }}</i></p>
            <p>Contact form sent by:<br><i>{{ inquirie.user.firstName }} {{ inquirie.user.lastName }}</i></p>

            <div class="text-center">
                <a class="btn btn-success" href="{{ path('accept_offer', {id:inquirie.id})}}">Accept offer</a>
                <a class="btn btn-danger" href="{{ path('decline_offer', {id:inquirie.id}) }}">Decline offer</a>
            </div>
        <hr>
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#inquiries").addClass('active');
        })
    </script>
{% endblock %}
