{% extends 'base.html.twig' %}

{% block title %}Favorite vehicles{% endblock %}

{% block body %}
    <h1 class="p-3 text-center">
        <b>
            <span class="bg-light p-1" style="color: darkcyan">Your favorite vehicles</span>
        </b>
    </h1>

    {% if not favorite_vehicles %}
        <h6 class="text-center mt-3 p-3 bg-light">Noone vehicle marked as your favorite.</h6>
    {% endif %}

    <div class="row">
        {% for favorite_vehicle in favorite_vehicles %}
            <div class="col-sm-3 bg-light one_vehicle p-0">
                <div class="image-wrapper-main">
                    <img src="{{ asset("uploads/")~favorite_vehicle.vehicle.images[0].imagePath }}" alt="">
                </div>
                <div class="title-block d-flex justify-content-center align-items-center">
                    <p class="p-2 m-0 text-center">{{ favorite_vehicle.vehicle.mark }} {{ favorite_vehicle.vehicle.model }}</p>
                </div>
                <p class="p-2 m-0">Status:
                    {% if favorite_vehicle.vehicle.status == "In stock" %}
                        <span style="color: darkgreen">{{ favorite_vehicle.vehicle.status }} <i class="fas fa-check"></i></span>
                    {% else %}
                        <span style="color: red">{{ favorite_vehicle.vehicle.status }} <i class="fas fa-route"></i></span>
                    {% endif %}
                </p>
                <a style="float: right" class="btn btn-success" href="{{ path("vehicle_details", { id: favorite_vehicle.vehicle.id}) }}">
                    Show details <i class="fas fa-angle-double-right"></i></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#favorite_vehicles").addClass('active');
        })
    </script>
{% endblock %}