{% extends 'base.html.twig' %}

{% block title %}Vehicle manager{% endblock %}

{% block body %}

    <h1 class="text-center p-3">Welcome to vehicle manager</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Mark</th>
                <th>Model</th>
                <th>Gearbox</th>
                <th>Price [€]</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>
                    {% if vehicle.status == "In stock" %}
                        <span style="color: darkgreen">{{ vehicle.status }} <i class="fas fa-check"></i></span>
                    {% elseif vehicle.status == "In arrival" %}
                        <span style="color: dodgerblue">{{ vehicle.status }} <i class="fas fa-route"></i></span>
                    {% elseif vehicle.status == "Reserved" %}
                        <span style="color: red">{{ vehicle.status }} <i class="fas fa-hourglass-half"></i></span>
                    {% else %}
                        <span style="color: darkgreen">{{ vehicle.status }} <i class="fas fa-hand-holding-usd"></i></span>
                    {% endif %}
                </td>
                <td>{{ vehicle.mark }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.gearbox }}</td>
                <td>{{ vehicle.price|number_format('0', '.', '.') }}</td>
                <td>

                    <a class="btn btn-primary" href="{{ path('vehicle_change_visibility', {'id': vehicle.id}) }}" title="Change visibility">
                        {% if vehicle.visibility %}<i class="far fa-eye"></i>
                    {% else %}
                        <i class="far fa-eye-slash"></i>
                    {% endif %}
                    </a>

                    <a class="btn btn-success" href="{{ path('vehicle_show', {'id': vehicle.id}) }}" title="Show details">
                        <i class="fas fa-info-circle"></i></a>
                    <a class="btn btn-warning" href="{{ path('vehicle_edit', {'id': vehicle.id}) }}" title="Edit vehicle">
                        <i class="far fa-edit"></i></a>
                    <a class="btn btn-secondary" href="{{ path('additional_equipment_add', {'id': vehicle.id}) }}" title="Add additional equipment">
                        <i class="fas fa-plus"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">There are no vehicles in our database.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('vehicle_new') }}">Create new vehicle</a>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#vehicles").addClass('active');
        })
    </script>
{% endblock %}