{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}

    <h1 class="text-center">Admin panel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Type</th>
                <th>Mark</th>
                <th>Model</th>
                <th>ManufactureYear</th>
                <th>ModelYear</th>
                <th>Kilometers</th>
                <th>Power</th>
                <th>Gearbox</th>
                <th>Gears</th>
                <th>Consumption</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.status }}</td>
                <td>{{ vehicle.type }}</td>
                <td>{{ vehicle.mark }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.manufactureYear }}</td>
                <td>{{ vehicle.modelYear }}</td>
                <td>{{ vehicle.kilometers }}</td>
                <td>{{ vehicle.power }}</td>
                <td>{{ vehicle.gearbox }}</td>
                <td>{{ vehicle.gears }}</td>
                <td>{{ vehicle.consumption }}</td>
                <td>{{ vehicle.price }}</td>
                <td>
                    <a href="{{ path('vehicle_show', {'id': vehicle.id}) }}">show</a>
                    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicle_new') }}">Create new</a>
{% endblock %}
