{% extends 'base.html.twig' %}

{% block title %}Vehicle details{% endblock %}

{% block body %}


    <h1 class="p-3 text-center">
        <b>
            <span class="bg-light p-1" style="color: darkcyan">Vehicle details</span>
        </b>
    </h1>

    <p class="text-center"><span class="bg-light p-1" style="color: darkcyan">Vehicle: <b>{{ vehicle.mark }} {{ vehicle.model }}</b></span></p>

    <a class="p-3" href="{{ path('vehicle_index') }}"><i class="fas fa-arrow-circle-left"></i> Back to list</a>

    <table class="table mt-3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    {% if vehicle.status == "In stock" %}
                        <span style="color: darkgreen"><b>{{ vehicle.status }} <i class="fas fa-check"></i></b></span>
                    {% elseif vehicle.status == "In arrival" %}
                        <span style="color: dodgerblue"><b>{{ vehicle.status }} <i class="fas fa-route"></i></b></span>
                    {% elseif vehicle.status == "Reserved" %}
                        <span style="color: red"><b>{{ vehicle.status }} <i class="fas fa-hourglass-half"></i></b></span>
                    {% else %}
                        <span style="color: darkgreen"><b>{{ vehicle.status }} <i class="fas fa-hand-holding-usd"></i></b></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ vehicle.type }}</td>
            </tr>
            <tr>
                <th>Mark</th>
                <td>{{ vehicle.mark }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>ManufactureYear</th>
                <td>{{ vehicle.manufactureYear }}.</td>
            </tr>
            <tr>
                <th>ModelYear</th>
                <td>{{ vehicle.modelYear }}.</td>
            </tr>
            <tr>
                <th>Kilometers</th>
                <td>{{ vehicle.kilometers|number_format('0', '.', '.') }}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{ vehicle.power }} [kW]</td>
            </tr>
            <tr>
                <th>Gearbox</th>
                <td>{{ vehicle.gearbox }}</td>
            </tr>
            <tr>
                <th>Gears</th>
                <td>{{ vehicle.gears }}</td>
            </tr>
            <tr>
                <th>Consumption</th>
                <td>{{ vehicle.consumption }} L/100km</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ vehicle.price|number_format('0', '.', '.') }} €</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-success" href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">Edit vehicle</a>

    {{ include('vehicle/_delete_form.html.twig') }}

{% endblock %}
