
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://kit.fontawesome.com/f69451562f.js" crossorigin="anonymous"></script>
        <link rel="icon" href="https://www.pngitem.com/pimgs/m/320-3203638_vehicle-icon-png-transparent-png.png">
        <link rel="stylesheet" href="{{ asset("css/home.css") }}">
        <link rel="stylesheet" href="{{ asset("css/navigation.css") }}">
        <link rel="stylesheet" href="{{ asset("css/vehicle_details.css") }}">

        <style>
            body
            {
                background-color: lightblue;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        <script>
            $(document).ready(function(){
                $(".hamburger").click(function(){
                    $(".nav-bar-right").toggleClass("active");
                });
            });
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <script>
            $(document).ready(function () {
                bsCustomFileInput.init()
            })
        </script>
    </head>
    <body>
    <div class="wrapper">
        <div class="nav-bar bg-light">
            <div class="hamburger"><i class="fas fa-bars"></i></div>
            <div class="nav-bar-left">
                <a href="{{ path("home") }}">Car store</a>
            </div>
            <div class="nav-bar-right">
                <ul>
                    {% if app.user %}
                        <li><a id="profile" href="{{ path("user_profile") }}">My profile</a></li>
                        <li><a id="favorite_vehicles" href="{{ path("favorite_vehicle_index") }}">Favorite vehicles</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a id="vehicles" href="{{ path("vehicle_index") }}">Vehicles</a></li>
                            <li><a id="users" href="{{ path("user_index") }}">Users</a></li>
                            <li><a id="inquiries" href="{{ path("inquirie_list") }}">Inquiries</a></li>
                        {% endif %}
                    {% endif %}

                    {% if not app.user %}
                        <li><a id="login" href="{{ path("app_login") }}">Login</a></li>
                        <li><a id="register" href="{{ path("app_register") }}">Register</a></li>
                        {% else %}
                            <li><a href="{{ path("app_logout") }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% for label, messages in  app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </div>
    </body>
</html>
