{% extends 'base.html.twig' %}

{% block title %}User manager{% endblock %}

{% block body %}
    <h1 class="p-3 text-center">
        <b>
            <span class="bg-light p-1" style="color: darkcyan">User manager</span>
        </b>
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('user_show', {'id': user.id}) }}">
                        <i class="fas fa-info-circle"></i></a>
                    </a>
                    <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">
                        <i class="far fa-edit"></i></a>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('user_new') }}">Create new <i class="far fa-user"></i></a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#users").addClass('active');
        })
    </script>
{% endblock %}